* {
    /* nouveau modèle de boite */
    box-sizing: border-box;
}

html {
    background-color: white;
    background-image: url(fond_ecran4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Arial;
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

#footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    grid-column: 1 / span 2;
    grid-row : 3 / span 1;
}

/* Commentaire */
#header {
    padding: 0 5px 0 5px;
    grid-row : 1 / span 1;
    grid-column: 1 / span 2;
}

h3{ /*titre*/
    font-size: 4em;
    text-align: center;
    color : rgba(255, 255, 255, 0.527);
    font-family:"Segoe print";
    font-weight:lighter;
}

h1{ /*aspect des questions*/
    font-size: 1.5em;
    text-align: center;
    color : black;
    font-family:"Segoe print";
    font-weight:lighter;
}

h2{ /*aspect du texte de Hagrid : titre*/
    font-size: 1.5em;
    text-align: center;
    color : black;
    font-family:"Segoe print";
    font-weight:lighter;
}

h4{ /*aspect du texte de Hagrid : phrases*/
    font-size: 0.75em;
    text-align: center;
    color : black;
    font-family:"Segoe print";
    font-weight:lighter;
}

#topMenu ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: right;
    align-items: flex-end;
}

#topMenu ul li {
    padding-left: 10px;
    list-style: none;
}

#menu {
    width: 200px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

#menu li {
    list-style: square;
    margin-bottom: 10px
}

#menu ul {
    padding-left: 15px;
    position: sticky;
    top: 50px;
}

#menuElement a {
    color: red;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #00000018;
    padding: 0 2px;
}

#menuElement a:hover {
    color: red;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #55555518
}

#content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 20px 10px;
}

#image1 {
    height: 150px;
    float: left;
    padding-right: 5px;
}


.bold {
    font-weight: bolder;
    font-size: 1.2em;
}

em {
    font-style: italic;
    text-decoration: underline;
}

#texte1 {
    color: darkolivegreen;
}

form {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding: 0 15px;
}

form input {
    margin: 5px;
}

.myButton {
    padding: 5px 10px 5px 35px;
    color: #eee;
    border-radius: 4px;
    background-color: #6820D9;
    background-image: url(sprite-icones.png),
                      linear-gradient(#AE3AEB,#8429E1 50%,transparent 50%);
    background-repeat: no-repeat;
    background-position: 5px 0, center;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    outline:none;
}

.myButton:hover,
.myButton:focus {
    color: white;
    background-color: #9b30ff;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset,
                0 0 5px rgba(174,58,235,1);
    border-color: rgba(255, 255, 255, .2);
}

.myButton:active {
    background-color: #7424bf;
    box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
                0 1px 0 rgba(255,255,255,.3);
    border: 1px solid black;
}

.grasRouge {
    font-weight: 700;
    color: red;
}

.notValid {
    background-color: red;
}

#draggable {
    width: 200px;
    height: 230px;
    border-radius: 10px;
    color: wheat;
    font-weight: bolder;
    text-align: center;
    line-height: 100px;
    background-color: black;
    background-image: url("gryffondor_lion.jpg");
    z-index: 100000;
    user-select: none;
}

#banniere{
    /*couleurs et dimensions de la fenêtre*/
    border: 10px inset #000;
    background: #444;
    color: #ddd;
    width: 600px;
    height: 11em;
    /* masquer ce qui dépasse */
    overflow: hidden;
}

#banniere p{
    /* centrer le texte */
    margin: 0.5em 0 0 0;
    /* tout afficher sur une seule ligne */
    white-space: nowrap;
}

#autoComp {
    height: 150px;
    overflow-y: scroll;
    background-color: rgba(0,0,0,.1);
}

#mapid /*position de la carte*/{ 
    position: relative;
    left: 00px;
    bottom: 80px;
    height: 700px;
    width: 1300px;
}

#coords {
    z-index: 100;
    position: fixed;
    color: white;
    padding: 2px;
    background-color: rgba(0,0,0,.7);
    display: none;
    user-select: none;
}

@media (orientation: portrait) and (max-width: 500px) {
    body {
        grid-template-rows: auto auto 1fr auto;
    }
    
    #menu {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        width: 100%;
    }

    #content {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    #footer {
        grid-row : 4 / span 1;
    }
}

.btnPopup{ /* popup Hagrid */
    position: relative;
    top: -200px;
    left: 30px;
  background-image: url(hagrid.jpg);
  padding:1em 2em;
  font-size:10pt;
  color: #000;
  cursor:pointer;
  width: 150px;
  height: 305px ;
}
.btnPopup:hover{
  background-color: gainsboro;
}

.overlay{
  position: fixed;
  left:0px;
  top:0px;
  background-color:rgba(0,0,0,0.5);
  width:50%;
  height:0%;
  display:none;

}

.popup{
  margin:20% auto;
  width:70%;
  background-color: rgb(228,228,228);
  border-radius:5px;
  box-shadow:15px 20px 0 rgba(0,0,0,0.5);
  padding:1em;
}

.btnClose{
  float: right;
  cursor:pointer;
}


#overlay{
  z-index: 10000 ;
  width: 500px;
}


#test{
    font-size:xx-small;
}

#mot_de_passe{
    font-family: Arial;
    font-size: xx-large;
    background-color: #615e66;
    position: relative;
    top: -450px;
    left: 0px;
}

#message_boutton_blaireau{
    visibility: hidden;
}


#message_boutton_serpent{
    visibility: hidden;
}

#time{
    position: relative;
    top: -400px;
    left: -150px;
    color: rgb(6, 158, 14);
    font-size: xx-large;
}